<h1>Angular 2 Pokédex</h1>

<div class="pokedex row">
	<div class="col-sm-3 pokemon-tile" *ngFor="let poke of pokemon">
	    <div class="card text-center">
	        <div class="card-header">
	            <strong>#{{ poke.id }}</strong> - {{ poke.name | capitalize }}
	        </div>
	        <div class="card-block">
	        	<a [routerLink]="['pokemon', poke.name]">
                    <img class="pokemon-sprite {{poke.name}}" src="/pokedex/assets/blank.gif">
                </a>
	        </div>
	    </div>
    </div>
</div>