
// Styles
#pokemon {

    nav.pager {
        overflow: hidden;

        margin: 10px 0;

        .prev {
            float: left;
        }
        .next {
            float: right;
        }
    }

    #pokemon_name {
        text-align: center;

        img.pokemon {
            max-width: 200px;
        }

        a.family-sprite {
            &:hover {
                text-decoration: none;
            }

            img {
                vertical-align: bottom;
                padding-right: 10px;                
            }
        }
    }

    .base_stats {
        margin-bottom: 20px;
    }

    table {
        td.level, td.power, td.accuracy, td.tm {
            text-align: right;
        }
        td.category, td.type {
            text-align: center;
        }
    }
}
