.loader {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9997;
    background: #5cb85c no-repeat center;
}

.loader img {
    z-index: 9998;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader.hidden {
    display: none;
}

// Type Colors for badges
.badge-normal {
    background-color: rgb(168, 167, 125);
}

.badge-fire {
    background-color: rgb(244, 126, 64);
}

.badge-water {
    background-color: rgb(104, 145, 234);
}

.badge-grass {
    background-color: rgb(111, 199, 97);
}

.badge-electric {
    background-color: rgb(249, 207, 82);
}

.badge-ice {
    background-color: rgb(147, 216, 215);
}

.badge-fighting {
    background-color: rgb(196, 46, 45);
}

.badge-poison {
    background-color: rgb(164, 65, 156);
}

.badge-ground {
    background-color: rgb(225, 191, 117);
}

.badge-flying { 
    background-color: rgb(170, 145, 234);
}

.badge-psychic {
    background-color: rgb(254, 87, 134);
}

.badge-bug {
    background-color: rgb(166, 183, 67);
}

.badge-rock {
    background-color: rgb(183, 159, 74);
}

.badge-ghost {
    background-color: rgb(114, 88, 148);
}

.badge-dragon {
    background-color: rgb(118, 62, 240);
}

.badge-dark {
    background-color: rgb(112, 88, 74);
}

.badge-steel {
    background-color: rgb(184, 184, 206);
}

.badge-fairy {
    background-color: rgb(250, 201, 225);
}