<p class="lead">How effective the following attacks are <em>against</em> {{ pokemon | capitalize }}</p>
<div *ngIf="effectiveness" class="type-defensiveness">
    <!-- 	<div *ngFor="let type of type_list">
		<span class="badge badge-{{type}}">{{ type | capitalize }}</span>
		{{ effectiveness[type] | fraction }}
	</div> -->
    <div class="card" *ngFor="let type of type_list">
        <div class="card-header type-{{type}}">
            {{ type | capitalize }}
        </div>
        <div class="card-block">
            <h4 class="card-title">{{ effectiveness[type] | fraction }}</h4>
        </div>
    </div>
</div>

<!-- <pre>
 {{ effectiveness | json }}
</pre> -->
