:host() {
    .type-defensiveness {
        text-align: center;
    }
}

.card {
    display: inline-block;
    width: 125px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    border: none;

    .card-header {
        color: white;
        font-weight: bold;
        border-bottom: none;
        text-transform: uppercase;
    }
    .card-block {
        border: 1px solid rgba(0, 0, 0, .125);
        border-top: none;
    }
}
